#lang-switch {
    font-family: 'Carlito', sans-serif;
    font-size: 35px;
    position: absolute;
    padding: 20px 40px;
    background-color: rgb(132, 208, 255);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 500px;
    text-align: center;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    font-family: 'Carlito', sans-serif;
    padding: 20px 60px;
    font-size: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
}

.button:hover {
    background-color: #45a049;
}